<!-- <div class="as-featured">
	<h1 class="featured-small-screen as-featured">...as featured in Cosmopolitan Bride</h1>
<div> -->
<footer>	
	<ul class="footer-list col-xs-12">
		<li><h4><a href="/">HOME |</a></h4></li>
		<li><h4><a href="/contact">CONTACT</a></h4></li>
	</ul>
	<ul class="social-media">
		
			<li><a href="http://www.facebook.com/CassieBergmanPhotography"><img class="social-media-icon" target="_blank" src="/images/facebook.png"/></a></li>
			<li><a href="http://www.instagram.com/CassieBergmanPhotography"><img class="social-media-icon" target="_blank" src="/images/instagram.png"/></a></li>
			<li><a href="mailto:cassiebergmanphotography@gmail.com"><i class="glyphicon glyphicon-email glyphicon-envelope"/></i></a></li>

	</ul>
</footer>