<div class="logo">
	<img class="contact-img" src="https://c6.staticflickr.com/8/7373/27621476141_b63ff0ba2e_c.jpg" />
</div>
<section class="contact-page">
	<div class="contact phone col-xs-12 col-md-6 well glyphicon glyphicon-phone-alt"><h1>206-794-1181</h1></div>
	<div class="contact email col-xs-12 col-md-6 well glyphicon glyphicon-envelope"><h1><a href="mailto:cassiebergmanphotography@gmail.com">CassieBergmanPhotography@gmail.com</a></h1></div>
</section>