<div id="carousel-id" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carousel-id" data-slide-to="0" class=""></li>
		<li data-target="#carousel-id" data-slide-to="1" class=""></li>
		<li data-target="#carousel-id" data-slide-to="2" class="active"></li>
	</ol>
	<div class="carousel-inner">
		<div class="item active">
			<img class="front-page-img" alt="Cassie Bergman Photography, Engagement Photo" src="https://c3.staticflickr.com/8/7441/27111226490_d51135e18b_b.jpg">
			<img class="small-screen-img img-responsive" alt="Cassie Bergman Photography, photo picture of Cassie Bergman" src="https://c3.staticflickr.com/8/7207/27111226010_d42c7f7f39_z.jpg"/>
		</div>
		<div class="item">
			<img class="front-page-img" alt="Cassie Bergman Photography, Engagement Photo" src="https://c3.staticflickr.com/8/7741/27111225050_da7de3574a_b.jpg">
			<img class="small-screen-img img-responsive" alt="Cassie Bergman Photography, photo picture of Cassie Bergman" src="https://c6.staticflickr.com/8/7294/26780180293_fcf4bb17be_z.jpg"/>
		</div>
		<div class="item">
			<img class="front-page-img" alt="Cassie Bergman Photography, Engagement Photo" src="https://c2.staticflickr.com/8/7316/26780178713_6f9b87887e_b.jpg">
			<img class="small-screen-img img-responsive" alt="Cassie Bergman Photography, photo picture of Cassie Bergman" src="https://c1.staticflickr.com/8/7758/26879650704_1199862dd4_z.jpg"/>
		</div>
	</div>
	<a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-controller glyphicon-chevron-left"></span></a>
	<a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-controller glyphicon-chevron-right"></span></a>
</div>
<div class="gallery-btn-container">
	<div class="gallery-btn">
		<a class="btn btn-lg btn-primary" href="/engagement-gallery" role="button">Browse Gallery</a>
	</div>
</div>