<div class="show-image">
	<a class="btn back-btn btn-lg btn-primary glyphicon glyphicon-arrow-left" href="/engagement-gallery"></a>
	<div class="image">
		<!-- <h3 class="image-title"> <%= engagementImages.title %> </h3> -->
		<img alt="Cassie Bergman Photography" src="<%= engagementImages.src %>"/>
	</div>
</div>