<div id="carousel-id" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carousel-id" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-id" data-slide-to="1" class=""></li>
		<!-- <li data-target="#carousel-id" data-slide-to="2" class=""></li> -->
	</ol>
	<div class="carousel-inner">
		<div class="item active">
			<img alt="Cassie Bergman Photography, Family Photos" class="family" src="https://c7.staticflickr.com/8/7283/27353917966_b5e96ddcae_b.jpg">
		</div>
		<div class="item">
			<img class="family" alt="Cassie Bergman Photography, Family Photos" src="https://c3.staticflickr.com/8/7617/27289366882_32e4277320_b.jpg">		
		</div>
		<!-- <div class="item">
			<img alt="Third slide" src="">
			<div class="container">
				<div class="carousel-caption">
					<p><a class="btn btn-lg btn-primary" href="#" role="button">Browse Gallery</a></p>
				</div>
			</div>
		</div> -->
	</div>
	<a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-controller glyphicon-chevron-left"></span></a>
	<a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-controller glyphicon-chevron-right"></span></a>
</div>
<div class="gallery-btn-container">
	<div class="gallery-btn">
		<a class="btn btn-lg btn-primary" href="/family-gallery" role="button">Browse Gallery</a>
	</div>
</div>