<div class="show-image">
	<a class="back-btn btn btn-primary btn-lg" href="/family-gallery">Back</a>
	<div class="image">
		<!-- <h3 class="image-title"> <%= familyImages.title %> </h3> -->
		<img alt="Cassie Bergman Photography" class="family" src="<%= familyImages.src %>"/>
	</div>
</div>