<div class="container">
	<h1 class="gallery-title">Family Images</h1>
	<a class="btn back-btn btn-lg btn-primary" href="/">BACK</a>
	<div class="showImages">
		<ul class="gallery">
			<% familyImages.forEach(function(image, idx){ %>
			<li><a href="family-images/<%= idx %>"><img class="family" src="<%= image.src %>"/></a></li>	
			<% }); %>
		</ul>
	</div>
</div>