<div class="show-image">
	<a class="btn back-btn btn-lg btn-primary glyphicon glyphicon-arrow-left" href="/graduation-gallery"></a>
	<div class="image">
		<h3 class="image-title"> <%= graduationImages.title %> </h3>
		<img alt="Cassie Bergman Photography" class="showImg" src="<%= graduationImages.src %>"/>
	</div>
</div>