<div id="carousel-id" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carousel-id" data-slide-to="0" class=""></li>
		<li data-target="#carousel-id" data-slide-to="1" class=""></li>
		<li data-target="#carousel-id" data-slide-to="2" class="active"></li>
	</ol>
	<div class="carousel-inner">
		<div class="item active">
			<img class="front-page-img" alt="Cassie Bergman Photography, Graduation Photo" src="https://c5.staticflickr.com/8/7347/27403088700_ec406e4c9b_c.jpg">
			<img class="small-screen-img img-responsive" alt="Cassie Bergman Photography, Graduation Photo" src="https://c1.staticflickr.com/8/7291/27403087840_55e1266218.jpg"/>
		</div>
		<div class="item">
			<img class="front-page-img" alt="Cassie Bergman Photography, Graduation Photo" src="https://c1.staticflickr.com/8/7210/27403088320_35227d7be9.jpg">
			<img class="small-screen-img img-responsive" alt="Cassie Bergman Photography, Graduation Photo" src="https://c5.staticflickr.com/8/7392/27403088100_d4c12050da.jpg"/>
		</div>
		<div class="item">
			<img class="front-page-img" alt="Cassie Bergman Photography, Graduation Photo" src="https://c7.staticflickr.com/8/7039/27403089030_b0036f5a77.jpg">
			<img class="small-screen-img img-responsive" alt="Cassie Bergman Photography, Graduation Photo" src="https://c2.staticflickr.com/8/7765/27071081433_a1cf8eb34c.jpg"/>
		</div>
		<div class="item">
			<img class="front-page-img" alt="Cassie Bergman Photography, Graduation Photo" src="https://c7.staticflickr.com/8/7309/27403088870_8dba4a5b60.jpg">
			<img class="small-screen-img img-responsive" alt="Cassie Bergman Photography, Graduation Photo" src="https://c8.staticflickr.com/8/7402/27071237903_49221468cf.jpg"/>
		</div>
	</div>
	<a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-controller glyphicon-chevron-left"></span></a>
	<a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-controller glyphicon-chevron-right"></span></a>
</div>
<div class="gallery-btn-container">
	<div class="gallery-btn">
		<a class="btn btn-lg btn-primary" href="/graduation-gallery" role="button">Browse Gallery</a>
	</div>
</div>