<div id="carousel-id" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carousel-id" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-id" data-slide-to="1" class=""></li>
		<li data-target="#carousel-id" data-slide-to="2" class=""></li>
		<li data-target="#carousel-id" data-slide-to="3" class=""></li>
	</ol>
	<div class="carousel-inner">
		<div class="item ">
			<img class="front-page-img img-responsive" alt="Cassie Bergman Photography, engagement photo picture of Josh and Sam" src="https://c2.staticflickr.com/8/7616/26780180673_584b6ea3ef_b.jpg">
			<img class="small-screen-img img-responsive" alt="Cassie Bergman Photography, photo picture of Cassie Bergman" src="https://c5.staticflickr.com/8/7238/26880465244_9c329a1ff8_z.jpg">
		</div>
		<div class="item">
			<img class="front-page-img img-responsive" alt="Cassie Bergman Photography, photo picture of Cassie Bergman" src="/images/cassie3.jpg">
			<img class="small-screen-img img-responsive" alt="Cassie Bergman Photography, photo picture of Cassie Bergman" src="https://c6.staticflickr.com/8/7294/26780180293_fcf4bb17be_z.jpg">
		</div>
		<div class="item active">
			<img class="front-page-img img-responsive" alt="Cassie Bergman Photography, photo picture of Cassie Bergman" src="https://c3.staticflickr.com/8/7205/27040182210_3740bcc0ea_b.jpg">
			<img class="small-screen-img img-responsive" alt="Cassie Bergman Photography, photo picture of Cassie Bergman" src="https://c2.staticflickr.com/8/7418/27374184361_236ee74f33_z.jpg">
		</div>
		
		<div class="item">
			<img class="front-page-img img-responsive" alt="Cassie Bergman Photography, photo picture of birthday ride in helicopter over seattle" src="https://c5.staticflickr.com/8/7305/27353925836_9384387c5f_b.jpg" width="1024" height="683" alt="Cassie Bergman Photography, Hellicopter Birthday Ride">
			<img class="small-screen-img img-responsive" alt="Cassie Bergman Photography, photo picture of Cassie Bergman" src="https://c2.staticflickr.com/8/7163/27387390785_a5903c1a85_z.jpg">
		</div>
		
	</div>
	<a class="left frontpage-control carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
	<a class="right frontpage-control carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<!-- <div class="gallery-btn-container">
	<div class="gallery-btn">
		<a class="btn btn-lg btn-primary" href="#" role="button">Browse Gallery</a>
	</div>
</div> -->
