<div id="carousel-id" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carousel-id" data-slide-to="0" class=""></li>
		<li data-target="#carousel-id" data-slide-to="1" class=""></li>
		<li data-target="#carousel-id" data-slide-to="2" class="active"></li>
	</ol>
	<div class="carousel-inner">
		<div class="item active">
			<img class="front-page-img" alt="Cassie Bergman Photography, Kids Photo" src="https://c1.staticflickr.com/8/7299/27353930416_d9f4c2958d_b.jpg">
			<img class="small-screen-img img-responsive" alt="Cassie Bergman Photography, photo picture of Cassie Bergman" src="https://c3.staticflickr.com/8/7218/27353925546_03bb9c0911_z.jpg"/>
		</div>
		<div class="item">
			<img class="front-page-img" alt="Cassie Bergman Photography, Kids Photo" src="https://c1.staticflickr.com/8/7031/27353927336_1146f6bfcb_b.jpg">
			<img class="small-screen-img img-responsive" alt="Cassie Bergman Photography, photo picture of Cassie Bergman" src="https://c4.staticflickr.com/8/7308/27387389875_92b5c06ab4_z.jpg"/>
		</div>
		<div class="item">
			<img class="front-page-img" alt="Cassie Bergman Photography, Kids Photo" src="https://c5.staticflickr.com/8/7319/27353927956_7f941e5084_b.jpg">
			<img class="small-screen-img img-responsive" alt="Cassie Bergman Photography, photo picture of Cassie Bergman" src="https://c5.staticflickr.com/8/7738/27353928916_f3e97ab893_z.jpg"/>
			
		</div>
	</div>
	<a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-controller glyphicon-chevron-left"></span></a>
	<a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-controller glyphicon-chevron-right"></span></a>
</div>
<div class="gallery-btn-container">
	<div class="gallery-btn">
		<a class="btn btn-lg btn-primary" href="/kids-gallery" role="button">Browse Gallery</a>
	</div>
</div>