<div class="container">
	<h1 class="gallery-title">Kids Images</h1>
	<a class="btn back-btn btn-lg btn-primary" href="/">BACK</a>
	<div class="showImages">
		<ul class="gallery">
			<% kidsImages.forEach(function(image, idx){ %>
			<li><a href="kids-images/<%= idx %>"><img class="gallery-img" src="<%= image.src %>"/></a></li>	
			<% }); %>
		</ul>
	</div>
</div>