<div class="show-image">
	<a class="btn back-btn btn-lg btn-primary glyphicon glyphicon-arrow-left" href="/maternity-gallery"></a>
	<div class="image">
		<h3 class="image-title"> <%= maternityImages.title %> </h3>
		<img alt="Cassie Bergman Photography" src="<%= maternityImages.src %>"/>
	</div>
</div>