<div id="carousel-id" class="carousel slide" data-pause="false" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carousel-id" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-id" data-slide-to="1" class=""></li>
		<li data-target="#carousel-id" data-slide-to="2" class=""></li>
		<li data-target="#carousel-id" data-slide-to="3" class=""></li>
		<li data-target="#carousel-id" data-slide-to="4" class=""></li>
		<li data-target="#carousel-id" data-slide-to="5" class=""></li>
		<li data-target="#carousel-id" data-slide-to="6" class=""></li>
	</ol>
	<div class="carousel-inner">
		<div class="item active">
			<img class="front-page-img" src="https://c8.staticflickr.com/8/7522/27245000111_5dbe6f1c5b_b.jpg" alt="Cassie Bergman Photography, Wedding Photo"/>
			<img class="small-screen-img img-responsive" alt="Cassie Bergman Photography, photo picture of Cassie Bergman" src="https://c2.staticflickr.com/8/7347/27446019785_315fdb1847_z.jpg"/>
		</div>
		<div class="item">
			<img class="front-page-img" src="https://c8.staticflickr.com/8/7677/27244999271_1c6d1864e4_b.jpg" width="900" height="600" alt="Cassie Bergman Photography, Batey Wedding 2016"/>
			<img class="small-screen-img img-responsive" alt="Cassie Bergman Photography, photo picture of Cassie Bergman" src="https://c2.staticflickr.com/8/7409/26838423833_9709debc2b_z.jpg"/>
		</div>
		<div class="item">
			<img class="front-page-img" src="https://c5.staticflickr.com/8/7664/27282008396_4327a4d07b_b.jpg" width="900" height="600" alt="Cassie Bergman Photography, Batey Wedding 2016"/>
			<img class="small-screen-img img-responsive" alt="Cassie Bergman Photography, photo picture of Cassie Bergman" src="https://c8.staticflickr.com/8/7043/27374184631_c71fecfa56_z.jpg"/>
		</div>
		<div class="item">
			<img class="front-page-img" src="https://c8.staticflickr.com/8/7312/26708888423_4259fc2aef_b.jpg" width="900" height="600" alt="Cassie Bergman Photography Nolly Wedding CPB"/>
			<img class="small-screen-img img-responsive" alt="Cassie Bergman Photography, photo picture of Cassie Bergman" src="https://c2.staticflickr.com/8/7409/26838423833_9709debc2b_z.jpg"/>
		</div>
		<div class="item">
			<img class="front-page-img" src="https://c2.staticflickr.com/8/7111/26708886633_4a2ede3180_b.jpg" width="900" height="600" alt="Cassie Bergman Photography, Photo of Wedding"/>
			<img class="small-screen-img img-responsive" alt="Cassie Bergman Photography, photo picture of Cassie Bergman" src="https://c2.staticflickr.com/8/7026/26838426073_8c17895e5f_z.jpg"/>
		</div>
		<div class="item">
			<img class="front-page-img" src="https://c4.staticflickr.com/8/7753/27245001811_d348cc89bd_b.jpg" width="900" height="600" alt="Cassie Bergman Photography, Wedding Photo"/>
			<img class="small-screen-img img-responsive" alt="Cassie Bergman Photography, photo picture of Cassie Bergman" src="https://c6.staticflickr.com/8/7411/26838428693_17c676a329_z.jpg"/>
		</div>

	</div>
	<a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-controller glyphicon-chevron-left"></span></a>
	<a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-controller glyphicon-chevron-right"></span></a>
</div>
<div class="gallery-btn-container">
	<div class="gallery-btn">
		<a class="btn btn-lg btn-primary" href="/wedding-gallery" role="button">Browse Gallery</a>
	</div>
</div>


